# Introduction to Scikit-Learn(sklearn)

In [2]:
# 1. Get the data ready

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
heart_disease= pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
import warnings

warnings.filterwarnings("ignore")

In [4]:
# Create X (Features matrix)

X= heart_disease.drop("target",axis=1)

# Create Y (label matrix)

Y= heart_disease["target"]

In [5]:
# Choose the right model
from sklearn.ensemble import RandomForestClassifier

clf= RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(X,Y,test_size=0.2)

In [7]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
# Make a prediction

y_preds = clf.predict(x_test)
y_preds

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [9]:
y_test

39     1
161    1
268    0
95     1
113    1
      ..
300    0
110    1
52     1
80     1
258    0
Name: target, Length: 61, dtype: int64

In [10]:
clf.score(x_train,y_train)

0.9917355371900827

In [11]:
clf.score(x_test,y_test)

0.7540983606557377

In [12]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [13]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.69      0.81      0.75        27
           1       0.83      0.71      0.76        34

    accuracy                           0.75        61
   macro avg       0.76      0.76      0.75        61
weighted avg       0.77      0.75      0.75        61

In [14]:
confusion_matrix(y_test,y_preds)

array([[22,  5],
       [10, 24]])

In [15]:
accuracy_score(y_test,y_preds)

0.7540983606557377

In [16]:
# Improve a model
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators")
    clf= RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"model accuracy on test set:{clf.score(x_test,y_test)* 100:.2f}")
    print(" ")

Trying model with 10 estimators
model accuracy on test set:70.49

Trying model with 20 estimators
model accuracy on test set:78.69

Trying model with 30 estimators
model accuracy on test set:72.13

Trying model with 40 estimators
model accuracy on test set:77.05

Trying model with 50 estimators
model accuracy on test set:77.05

Trying model with 60 estimators
model accuracy on test set:70.49

Trying model with 70 estimators
model accuracy on test set:75.41

Trying model with 80 estimators
model accuracy on test set:75.41

Trying model with 90 estimators
model accuracy on test set:75.41

In [17]:
# save a model and load it
import pickle

pickle.dump(clf,open("Random_Forest_Model_1.pkl","wb"))

In [18]:
loaded_model= pickle.load(open("Random_Forest_Model_1.pkl","rb"))

In [19]:
loaded_model.score(x_test,y_test)

0.7540983606557377

In [20]:
import sklearn

sklearn.show_versions()

System:
    python: 3.7.4 (default, Aug 13 2019, 20:35:49)  [GCC 7.3.0]
executable: /home/tanuja/anaconda3/bin/python
   machine: Linux-5.3.0-40-generic-x86_64-with-debian-buster-sid

Python deps:
       pip: 19.2.3
setuptools: 41.4.0
   sklearn: 0.21.3
     numpy: 1.17.2
     scipy: 1.3.1
    Cython: 0.29.13
    pandas: 0.25.1

In [21]:
## Getting our data to be ready to be used by machine learning

Three main things we have to do:
    * Split the data into features and labels (usually x and y)
    * Filling or disregarding missing values
    * Converting non numerical values to numerical values

SyntaxError: invalid syntax (<ipython-input-21-f4c1c325bbfe>, line 3)

In [22]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [23]:
# Create X (Features matrix)

X= heart_disease.drop("target",axis=1)

# Create Y (label matrix)

Y= heart_disease["target"]

In [24]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [25]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [26]:
# Split the data into training and testing sets

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(X,Y,test_size=0.2)